* {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(240, 215, 171);
}

header, footer {
  width: 100vw;
  text-align: center;
  padding: 2% 0;
}

header h1 {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

