* {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
}

main {
  padding: 0 2%;
}

/* Header Footer Styles */
  header, footer {
    width: 100%;
    text-align: center;
    padding: 2% 0;
  }

  header h1 {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 15px;
    list-style: none;
  }

  nav li {
    margin: 0 10px;
    cursor: pointer;
  }

  nav li:hover {
    font-weight: 600;
  }

  footer {
    font-family: 'Quicksand', 'sans-serif';
  }

/* Inventory Item Styles */
  .inventory-container {
    width: 100%;
    column-count: 3;
    column-gap: 20px;
  }

  .inventory-item {
    border: 1px solid lightgrey;
    margin: 10px;
    display: inline-block;
    width: 98%;
    border-radius: 15px;
    font-family: 'Quicksand', 'sans-serif';
    line-height: 30px;
    cursor: pointer;
  }

  .inventory-item:hover {
    width: 100%;
  }

  .inventory-item img {
    display:block;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .inventory-item h2 {
    font-weight: 500;
  }

  .inventory-details {
    padding: 5%;
  }

/* Media Styles */
  @media only screen and (max-width: 768px) {
    .inventory-container {
      column-count: 2;
    }
  }